version: "3.9"

services:
  db:
    image: postgres:15
    container_name: asofamech_db
    environment:
      - POSTGRES_DB=app_db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=app_pass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: asofamech_backend
    environment:
      - DATABASE_URL=postgresql://app_user:app_pass@db:5432/app_db
    ports:
      - "8001:8001"
    depends_on:
      - db
    volumes:
      - ./backend/app:/app/app

  rasa:
    image: rasa/rasa:3.6.0-full
    container_name: asofamech_rasa
    working_dir: /app
    volumes:
      - ./Chatbot:/app
    command: >
      run --enable-api --cors "*" --port 5005 --debug
    ports:
      - "5005:5005"
    depends_on:
      - rasa-actions

  rasa-actions:
    build: ./Chatbot
    container_name: asofamech_rasa_actions
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - LLM_MODEL=llama3:8b
      - BACKEND_URL=http://backend:8001
    ports:
      - "5055:5055"
    depends_on:
      - ollama
      - backend

  ollama:
    image: ollama/ollama:latest
    container_name: asofamech_ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

volumes:
  db_data:
  ollama_data:
